<div class="footer">
	<div class="spacer"></div>
	<div class="footer-right">A <%= link_to "Dan Shipper", "http://www.twitter.com/danshipper" %> Project</div>
	<a href="https://twitter.com/share" class="twitter-share-button" data-text="Make mixtapes like it's 2001 with Mixmatic" data-via="danshipper" data-related="danshipper" data-count="none" data-hashtags="mixmatic" class="tweet-button">Tweet</a>
	<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
	<div class="fb-like" data-href="http://www.mixmatic.co" data-send="true" data-width="100" data-show-faces="false"></div>
</div>