<div class="footer">
	<div class="spacer"></div>
	<div class="footer-right">A <%= link_to "Dan Shipper", "http://www.twitter.com/danshipper" %> Project</div>
	Copyright 2011 Mixmatic. All Rights Reserved. 
</div>