<div class="container">
	<div class="column-1">
		<%= image_tag "cassette.png", :class => "cassette" %>
	</div>
	<div class="column-2">
		<%= image_tag "logo.png", :class => "logo" %>
		<div class="subhead">
			Make mixtapes for your friends.
		</div>
		<div class="rounded-white">
			Remember back in the day when you used to be 
			able to make a mixtape for someone?<br><br>

			<b>Mixmatic</b> is bringing those days back. Create a 
			Spotify playlist with your mix, gives us its URL,
			write a short message and tell us the recipient.<br><br>

			We’ll deliver your mix for you with style.
		</div>
		<%= link_to image_tag("send.png", :class => "send"), new_mix_path %>
	</div>
	<%= render "shared/footer" %>
</div>
