@font-face{
	font-family: HelveticaNeueMedium;
	src: url("HelveticaNeueLTCom-Md.ttf");
}

@font-face{
	font-family: HNLight;
	src: url("HelveticaNeueLTCom-Lt.ttf");
}

@font-face{
	font-family: Chunk;
	src: url("Chunk.ttf");
}