// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$top-margin: 100px;

body{
	width: 100%;
	height: 100%;
	background-image: url("bg.png");
	background-repeat: repeat-x;
	background-color: #dfdfdf;
	display: inline-block;
}

.container{
	width: 720px;
	margin: auto;
}

.column-1{
	margin-top: $top-margin;
	width: 370px;
	display: inline-block;
	vertical-align: top;
}

.column-2{
	margin-top: $top-margin;
	width: 330px;
	display: inline-block;
	vertical-align: top;
	
	.logo{
		position: relative;
		right: 7px;
	}
	
	.subhead{
		color: #a6b5a1;
		font: 24px HNLight;
	}
	
	.rounded-white{
		background-color: #fff;
		width: 100%;
		-moz-border-radius: 5px;
		border-radius: 5px;
		border: solid 1px #d6d6d6;
		padding: 10px;
		font: 14px HNLight;
	}
	
	b{
		font: 15px HelveticaNeueMedium;
	}
	
	.send{
		margin: auto;
		margin-top: 5px;
		
	}

}
